{% extends 'base.html.twig' %}

{% block title %}Créer une tâche - {{ parent() }}{% endblock %}
{% block header %}<h1>Créer une tâche</h1>{% endblock %}


{% block body %}
    {% include 'form-task.html.twig' %}
{% endblock %}