{% extends 'base.html.twig' %}

{% block title %}Créer un projet - {{ parent() }}{% endblock %}
{% block header %}<h1>Créer un projet</h1>{% endblock %}

{% block body %}
    {% include 'form-project.html.twig' %}
{% endblock %}